@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  .form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }

  section {
    display: block;
    padding: 8rem 5rem;
  }

  #about {
    padding: 8rem 0;
  }

  #welcome-button {
    background-image: lightblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



  #welc-about1 {
    color: #1b1b44;
    font-size: 3.5rem;
    text-align: center;
    justify-content: center;
    line-height: 1.0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .barz {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-width: 3.0rem;
    max-width: 8rem;
    min-height: .5rem;
    background-color: #1b1b44;
    margin-left: auto;
    margin-right: auto;
  }

  .bar {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-width: 18.0rem;
    max-width: 40rem;
    height: .025rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
  }

  #welc-about {
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #about1 {
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: strong;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #about2 {
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #about3 {
    font-size: 1.75rem;
    font-weight: strong;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #about4 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #about5 {
    font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #about6 {
    font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #welcome-section {
    background-image: linear-gradient(to bottom right, blue, white);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 300px;
    max-height: 2000px;
    padding: 8rem 5rem;
  }

  header {
    width: 100%;
    height: 75px;
    background-color: #1b1b44;
    display: inline-block;
    justify-content: center;
    align-items: end;
    top: 0;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .About-mee {
    max-height: 2000px;
    min-height: 300px;
  }

  .footer {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .above-bar-footer {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h1 {
    color: #1b1b44;
    font-size: 2rem;
    text-align: center;
  }

  #projects {
    padding: 0 3rem;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .project-1-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;
    min-width: 51%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .project-2-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;
    min-width: 51%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .project-3-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;
    min-width: 51%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .project-4-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;
    min-width: 51%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .project-5-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;
    min-width: 51%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .p1p {
    border: 2px solid black;
  }

  .p2p {
    border: 2px solid black;
  }

  .p3p {
    border: 2px solid black;
  }

  .p4p {
    border: 2px solid black;
  }

  .p5p {
    border: 2px solid black;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #1b1b44;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .skills_skill {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    min-height: 35px;
    min-width: 50px;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    background-color: lightgray;
  }

  .skills_skill:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .socials {
    text-transform: uppercase;
  }

  .contact {
    background-image: linear-gradient(to bottom right, blue, white);
  }

  .contact-button {
    border: 2px solid black;
    margin: 20px 20px 20px 5px;
    min-height: 80px;
    max-height: 100px;
    min-width: 100px;
    max-width: 200px;
    color: black;
    background-color: lightblue;
    border-radius: 7.5px;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px 50px;
  }

  .contact-button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }

  .abouts {
    margin: 10px;
  }

  .copyright {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
  }

  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    border-radius: 5px;
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }